body{
    /* Margin = margen externa*/
        /* Padding = margen interna*/
    margin: 0;
    padding: 0;
    background: url("../img/Fondo.jpg");
    background-size: cover;
    background-repeat: repeat-y;
    background-position: center;
    text-align: center;
    height: 110vh;
    font-family: 'Josefin Sans', sans-serif;
}


h1,h2,h3,h4,h5{

    font-family: 'Josefin Sans', sans-serif;

}
h1{
    /*color = color de la letra h1*/
    text-shadow: 1 1 2px #000000;
    color: #00ffff;
    font-size: 45px;
    margin-top: 100px;
    text-shadow: 3px 3px 0 #000000;

}

h2{
    color: #ffffff;
    /*font-size = Tamaño de fuente*/
    font-size: 35px;
    text-shadow: 2px 2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000, 2px -2px 0 #000000;
}

p{
    color: #00ffff;
    font-size: 28px;
    margin-bottom: 70px;
    text-shadow: 1px 1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px -1px 0 #000000;

}

button{
    font-family: 'Josefin Sans', sans-serif;
    padding: 10px 30px;
    margin: 8px;
    background: #70ffff;
    border: 1px solid #000000;
    cursor: pointer;
    font-size: 15px;
    color: #000000;
    transition: .5%;
    
}

/*Estado de los elementos que se activa al pasar el cursor sobre estos*/
button:hover{

    background: transparent;
    color: #ffffff;
    font-size: 17px;
    padding: 13px 34px;
    margin: 6px;
    text-shadow: 1px 1px 0 #000000;
}

